html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  --blue: #2196f3;
  --grey: #757575;
  --primery-text-color: #212121;
}
body {
  font-family: "Roboto", sans-serif;
  color: var(--primery-text-color);
}

.container {
  width: 1200px;
  background-color: lawngreen;
}

.logo {
  color: var(--primery-text-color);
  text-decoration: none;
}
.logo:focus,
.logo:hover {
  color: var(--blue);
}

.site-nav .link {
  color: var(--primery-text-color);
  text-decoration: none;
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--blue);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
}

.list {
  list-style: none;
}

.contacts {
  color: var(--grey);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.1em;
  text-decoration: none;
}
.contacts:hover,
.contacts:focus {
  color: var(--blue);
}

.button {
  background-color: #f5f4fa;

  cursor: pointer;
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6em;
}
.button:hover,
.button:focus {
  background-color: var(--blue);
  color: #ffffff;
}
.section .section-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2em;
}
.section .text {
  color: var(--grey);

  font-weight: 400;
  font-size: 16px;
  line-height: 1.875em;
}
.address {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}
